div {
    clear: both;
    margin-bottom: 10px;
    padding: 30px;
    font-family: Arial;
}

ul {
    list-style: none;
    height: 50px;
}

a {
    text-decoration: none;
}

#menu2 ul {
    width: 10%;
    height: 300px;
    background-color: #BFD8D2;
    margin: 0px;
    text-align: center;
    padding: 0px;
    float: left;
}

#menu2 a {
    color: #fdfdfd;
}

#menu2 li {
    height: 15%;
    padding-top: 25px;
}

#menu2 li:hover {
    background-color: #000000;
    border-left: 2px #ff0000 solid;
}

#menu2 li a {
    font-size: 1.2em;
}

#menu2 .currentPage {
    background-color: #000000;
    border-left: 5px #ffffff solid;
}

#menu2 section {
    background-color: #ffffff;
    margin-left: 10%;
    height: 296px;
    border: 2px solid rgb(0, 0, 0);
}

#menu2 h1 {
    margin: 0px;
    color: #FFFFFF;
    text-align: center;
}

#menu2 p {
    padding: 30px;
}